mixin dinamic_block(num)
    div(class= 'dinamic_block dnc_'+num)
        div(class='layer_dnc picture_back picture_'+num)
        div(class='layer_dnc bigger_round bigger_'+num)
        div(class='layer_dnc active_round active_'+num)
        
