include ../main_confer/main_confer.pug

- let hr_1 = ['Оснащение конференц-залов', 'Оснащение конференц-зал1', 'Оснащение конференц-зал2', 'Оснащение конференц-зал3']
- let hr_2 = ['Видео конференции', 'Видео конференц1', 'Видео конференц2', 'Видео конференц3']
- let p_descr = ['Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.', 'Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контент1', 'Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контент2', 'Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контент3']

mixin body_confer_slider()
    div(class='body_confer_slider')
        each val, index in hr_1
            div(class='confer_slide c_slide_'+index)
                img(class='confer_benefit benefit_'+index src='../../img/conference.png')
                +main_confer(val, hr_2[index], p_descr[index], index)
