@import '../../config/config.less';
@import '../../common.blocks/header/header.less';
@import "../../common.blocks/callback_form/callback_form.less";
.landing {
  background: url('../../img/conference.png');
  height: 100%;
  .header-main{
    margin: 0 auto;
  }
  .find-room {
    margin: 8.43% 0 0 9.72%;
  }
}
.foot-land{
  bottom: -130%;
}