mixin plus-minus(num)
    div(class="number number_"+num)
        div(class="minus minus_"+num)= '-'
        input(type="text" class='input-amount inp_'+num value="1" size="5")
        div(class="plus plus_"+num)= '+'