.callback_opt{
    width: 14.5%;
    display: inline-flex;
    justify-content: flex-start;
    margin-top: -0.2%;
    .tube_call{
        width: 20px;
        height: 20px;
        padding: 3% 8% 0 0;
        cursor: pointer;
    }
    .call_me{
        p, a{
            margin: 0;
            height: 61%;
        }
        p{
            line-height: 13px;
            font-size: 11px;
            color: #397DFF;
        }
        a{
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            cursor: pointer;
        }
    }
}