.callback_opt{
    width: 14.5%;
    display: flex;
    justify-content: space-between;
    height: 60%;
    margin-top: -0.2%;
    .tube_call{
        padding-top: 3%;
        cursor: pointer;
    }
    .call_me{
        p, a{
            margin: 0;
            height: 61%;
        }
        p{
            line-height: 13px;
            font-size: 11px;
            color: #397DFF;
        }
        a{
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            cursor: pointer;
        }
    }
}