.email_field{
    height: 45%;
    width: 15%;
    display: flex;
    justify-content: space-between;
    i{
        color: @blue;
    }
    i::before{
        width: 20px;
        height: 16px;
    }
}