.email_field{
    height: 45%;
    width: 15.5%;
    display: inline-flex;
    justify-content: flex-start;
    img{
        width: 20px;
        padding: 0 5% 0 0;
    }
    a{
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
    }
    i::before{
        width: 20px;
        height: 16px;
    }
}