@import '../small.blocks/button/button.less';
@import '../small.blocks/button/button_transp.less';
@import '../small.blocks/button/button_blue.less';
.callback_form{
    box-sizing: border-box;
    margin: 7% 0 0 9%;
    width: 43%;
    color: #fff;
    .header_1{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
    }
    .header_2{
        font-weight: 600;
        font-size: 52px;
        line-height: 63px;
        margin: 2.5% 0 4% 0;
    }
    .conference-descr{
        font-weight: 500;
        font-size: 16px;
        line-height: 148%;
        margin-bottom: 8%;
    }
    .button_transp, .button_blue{
        width: 31%;
    }
    .button_blue{
        margin-left: 3%;
    }
}