include ../small.blocks/button/button.pug
mixin callback_form()
    form(class= 'callback_form')
        h1(class= 'header_1') Оснащение конференц-залов
        h2(class= 'header_2') Видео конференции 
        p(class= 'conference-descr') Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.
        +button('call_btn', 'Обратный звонок', 'transp')
        +button('brief_btn', 'Заполнить бриф', 'blue')