include ../small.blocks/input/input.pug
include ../small.blocks/button/button.pug
include ../small.blocks/checkbox/checkbox.pug
- let a = 'Я согласен с условиями обработки'+"<a>персональных данных</a>"
mixin callback_form()
    form(class= 'callback_form' action= "url" method="post")
        span(class = 'material-icons close close_form_call') close
        h1.discuss Готовы обсудить проект?
        p.promise Заполните форму ниже и мы свяжемся с вами.
        +simple_input('text', 'userName', 'Имя*')
        +simple_input( 'text', 'userPhone', 'Телефон*')
        +checkbox('data_agree', 'Я согласен с условиями обработки'+"<a>персональных данных</a>")
        +button('send_btn', 'Отправить', 'blue')

