// main: main.less
@import '../small.blocks/callback_opt/callback_opt.less';
@import '../small.blocks/email_field/email_field.less';
.header-main {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 1% 9%;
  .dj_logo{
    height: 50px;
    width: 154px;
  }
  &_item {
    &:nth-child(2) {
      margin: 1% 0 0 0;
      padding: 0;
      width: 83%;
      .lists();
      .flex();
      li {
        .drop-down_hidden {
          max-height: 64px;
        }
        &:nth-child(2){
          width: 8.37%;
          .drop-down_hidden{
            width: 5.14%;
          }
        }
        &:nth-child(5) {
          width: 14.71%;
          .drop-down_hidden{
            width: 8.06%;
          }
        }
        &:nth-child(6) .button_white{
          width: 87px;
        }
        &:nth-of-type(7) .button_purple{
          width: 196px;
        }
      }

    }
  }
}