include ../small.blocks/input/input.pug
include ../small.blocks/button/button.pug
mixin electro_voice(num)
    form(class= 'electro_voice electro_'+num action= "url")
        span(class = 'material-icons close close_form_el') close
        div.top_electro
            h1 Electro-Voice EVID 4.2
            img(src='../../img/Group 688.svg')
        ul.specialites
            li Очень мягкое звучание.
            li Чувствительность 	— 89 дБ.
            li Пиковая мощность 	— 400 Вт.
            li Степень влагозащищенности IP34.