include ../descript-benefit/descript-benefit.pug
mixin benefit_slider()
    div(class='benefit_slider')
        div
            +descript-benefit(01, 'Простота использования оснащения позволяет решать функциональные и организационные задачи, оптимизировать работу, проводить мероприятия различного масштаба.')
        div
            +descript-benefit(02, 'Применение инновационных решений для демонстрации культурных и исторических реликвий – актуальная тенденция, которая успешно применяется в музеях и на площадках альтернативного искусства.')
        div
            +descript-benefit(03, 'Применение инновационных решений для демонстрации культурных и исторических реликвий – актуальная тенденция, которая успешно применяется в музеях и на площадках альтернативного искусства.')
        div
            +descript-benefit(04, 'Применение инновационных решений для демонстрации культурных и исторических реликвий – актуальная тенденция, которая успешно применяется в музеях и на площадках альтернативного искусства.')
                
