@import '../descript-benefit/descript-benefit.less';
.benefit_slider{
    color: #fff;
    width: 35%;
    margin-top: 11%;
    .slick-slide{
        width: 1.5%;
        margin-right: 0.2%;
        opacity: 0.5;
    }
    .slick-current{
        opacity: 1;
    }
    .slick-arrow{
        top: 50%;
        text-align: center;
    }
    .slick-arrow::before{
        width: 32px;
        height: 32px;
    }
    .slick-prev{
        left: 0;
    }
    .slick-prev::before{
        background: rgba(186, 209, 255, 0.1);
    }
    .slick-next{
        left: 20%;
    }
    .slick-next::before{
        color: #397DFF;
    }
    .slick-list{
        padding: 0;
    }
}